function AwsLogin() {
  local profile=$1
  local token=$2
  local serial

  if [[ -z $profile ]] || [[ -z $token ]]; then 
    echo 'Usage: AwsLogin <profile> <token>'
    return 1
  fi

  serial=$(aws configure --profile $profile get mfa_serial)

  if [[ -z $serial ]]; then
    echo 'ERROR: Expected a mfa_serial in the ~/.aws/config'
    return 1
  fi

  function _configure() {
    aws configure set aws_access_key_id $1
    aws configure set aws_secret_access_key $2
    aws configure set aws_session_token $3
  }

  _configure $(
    aws sts get-session-token \
      --profile $profile \
      --output text \
      --query Credentials.[AccessKeyId,SecretAccessKey,SessionToken] \
      --token-code $token \
      --serial-number $serial \
      --duration-seconds 3600
  )

  unset _configure
}
