function AwsMfaLogin () {
  local USER=$1
  local TOKEN=$2

  if [ -z $TOKEN ] || [ -z $USER ]; then
  	echo "Usage: AwsMfaLogin <TOKEN> <USER>"
  	return 1
  fi

  # This could introduce a bug where multiple names match $USER... TODO
  AWS_MFA_SERIAL_NUMBER=$(cat ~/.aws/mfa-serial-numbers | grep $USER)

  if [ -z $AWS_MFA_SERIAL_NUMBER ]; then
    echo "Expected a MFA Serial Number"
    return 1
  fi

  function AwsConfigure () {
    aws --profile default configure set aws_access_key_id $1
    aws --profile default configure set aws_secret_access_key $2
    aws --profile default configure set aws_session_token $3
  }

  AwsConfigure $(aws \
      --output text \
      --profile $USER \
      sts get-session-token \
      --duration-seconds 900 \
      --serial-number $AWS_MFA_SERIAL_NUMBER \
      --token $TOKEN |
    cut -f 2,4,5
  )
}
